#### Este notebook versa Regressao Linear.

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [33]:
# Carregar os dados
df = pd.read_csv('Result_Vendas.csv', sep = ',', encoding='ISO-8859-1')

In [41]:
df.head(3)

,CLIENTE_ID,NOME,IDADE,CIDADE,PRODUTO,CATEGORIA,VALOR,categoria_numerica
0,1,Maria Silva,34,São Paulo,Televisão,Eletrônicos,2500,0
1,11,Patricia Menezes,40,Florianópolis,Televisão,Eletrônicos,2700,0
2,2,João Santos,28,Rio de Janeiro,Notebook,Informática,3500,1

In [35]:
df['CATEGORIA'].unique()

array(['Eletrônicos', 'Informática', 'Eletrodomésticos', 'Fotografia'],
      dtype=object)

In [36]:
mapping = {
    'Eletrônicos': 0,
    'Informática': 1,
    'Eletrodomésticos': 2,
    'Fotografia': 3
}

In [37]:
df['categoria_numerica'] = [mapping[a] for a in df['CATEGORIA']]

In [38]:
# Prever o valor da venda com base na idade e categoria do produto
X = pd.get_dummies(df[['IDADE','categoria_numerica']], drop_first=True)
y = df['VALOR']

In [39]:
# Dividir os dados
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [40]:
# Regressão Linear
model = LinearRegression()
model.fit(X_train, y_train)

# Previsões
y_pred = model.predict(X_test)

# Avaliação
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 194370.2893852051